.DS_Store
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/CodeLrn2019.iml
*.class
*/*.class
*.out
.idea/
*/.idea/*
out/
*.iml
*/target/*

imoocad/ad-eureka/target/
algs4/algs4-data/
book01algs4/algs4-data/
*/Leipzig100K.txt

